@font-face {
    font-family: "London";
    src:
      url("../fonts/London.woff2") format("woff2"),
      url("../fonts/London.woff") format("woff");
  }

  .header{
   
  }
 

  .wrapper_header {
    display: flex;
    justify-content: space-between; /* Распределяет элементы по горизонтали */
    align-items: center; /* Выравнивает элементы по вертикали */
    padding: 10px 20px; /* Отступы вокруг элементов внутри header */
     /* Фоновый цвет для header */
    padding-bottom: 40px;
    padding-top: 40px;
    font-family: "London";
    display: flex;
    text-align: center;
    justify-content: center;
    justify-items: center;

    margin: 0 20px;
}

.title {
    margin: 0 auto; /* Центрирует заголовок по горизонтали */
}

.telega__wrapper {
    display: flex;
    justify-content: flex-end; /* Выравнивает картинку по правому краю */
}

.img_telega {
    max-width: 100%; /* Адаптивный размер картинки */
    height: auto;
}
body{
   background-color: #126538;
    margin: 0 auto;
}
.line{
    width: 100%;
    height: 7px;
    background-color: #C1FAA8;
}
.link_to_contact{
    text-decoration: none;
}
.first_img{
    width: 100%; /* Адаптивный размер картинC1FAA8ки */
    height: auto;
}
.first__wrapper{
    position: relative;
}
.wrap_anons{
    position: absolute; /* Абсолютное позиционирование текста относительно родительского элемента */
    top: 50%; /* Центрирует текст по вертикали */
    left: 50%; /* Центрирует текст по горизонтали */
    transform: translate(-50%, -50%); 
    width: 100%;
}
.anons{ 
   
/* Используется для точного центрирования */
    color: #E0EBDB; /* Цвет текста */
    font-size: 64px; /* Размер текста */
    text-align: center;
    margin-bottom: 45px;
    font-family: "Livvic", sans-serif;
    width: 100%;
}
.anons_sub{
  /* Используется для точного центрирования */
    color: #E0EBDB; /* Цвет текста */
    font-size: 48px; /* Размер текста */
    text-align: center;
    margin-top: 0;
    font-family: "Manrope", sans-serif;
    font-weight: 300;
}
.link{
    text-decoration: none;
    color: black;
}
.button_join{
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    color: #FD7E08 ;
    font-size:35px ;
    background: none;
    border: solid #FD7E08 4px;
    margin: 0 auto;
    display: block;
    border-radius: 50px;
    padding: 10px  20px ;
    margin-top: 50px;
    transition: .7s ;
}
.button_join:hover{
    background: #FD7E08;
    color: white;
    transition: .7s ;
}
.augost_wrap{
    display: flex;
    justify-content: space-between;
    max-width: 1060px;
    margin: 0 auto;
}
.augost_text{
    max-width: 575px;
    font-size:20px ;
    font-family: "Manrope", sans-serif;
}
.title_augost{
    transform: rotate(-90deg);
    font-family: "Livvic", sans-serif;
    color: #FD7E08;
    font-weight: bold;
    font-size: 150px;
    margin: 0;
}
.augost{
    padding-top: 72px;
    padding-bottom: 100px;
}
.text_1{
    font-weight: bold;
}
.green{
    color: #145105;
    font-weight: bold;
}
.img_third{
    width: 100%;
}
.third{
    padding-bottom: 120px;
}
.four_wrap{
    display: flex;
    justify-content: space-between;
    max-width: 1060px;
    margin: 0 auto;
    align-items: center;
}
.flovers{
    transform: rotate(-90deg);
    font-family: "Livvic", sans-serif;
    color: #145105;
    font-weight: bold;
    font-size: 150px;
}
.text_four{
    max-width: 426px;
    font-size:20px ;
    font-family: "Manrope", sans-serif;
}
.text_1_four{
    font-weight: bold;
}
.four{
    padding-bottom: 120px;
}
.gallery{
    display: block;
    margin: 0 auto;
}
.gallery_wrap{
    padding-bottom: 120px;
}
.eat_wrap{
    display: flex;
    justify-content: space-between;
    max-width: 1060px;
    margin: 0 auto;
    text-align: center;
    
    
}
.title_eat{
    transform: rotate(-90deg);
    font-family: "Livvic", sans-serif;
    color: #FD7E08;
    font-weight: bold;
    font-size: 150px;
    margin: 0;
   ;
    
     
}
.text_eat{
    width: 579px;
    font-size:20px ;
    font-family: "Manrope", sans-serif;
}
.contact{
    padding-top: 120px;
}
.contact_title{
    font-family: "Manrope", sans-serif;
    color: #145105;
    font-size: 32px;
    font-weight: bold;
    max-width: 554px;
    margin: 0 auto;
    text-align: center;
}
.contact_yan{
    margin: 0 auto;
    display: block;
    max-width: 360px;
}
.g-box{
    margin: 0 auto;
    display: block;
}
.footer_run{
    background: black;
    display: flex;
    justify-content: center;
    padding: 10px;
    text-align: center;
}
.tetx_footer{
color: #FFFFFF;
font-family: "Manrope", sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin: 0 20px 0 20px;
}
.name_footer{
    font-family: "London";
    color: #FFFFFF;
    margin: 0;
    font-size: 18px;
    
}
.footer_telega{
    width: auto;
    height: auto;
}

.footer_run {
    background: #862006;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
    overflow: hidden; /* Убирает элементы, выходящие за пределы контейнера */
    position: relative; /* Позволяет позиционировать внутренние элементы */
}
.bold{
    font-weight: bold;
}
.text_container {
    display: flex;
    align-items: center;
    animation: marquee 17s linear infinite; /* Анимация бегущей строки */
    white-space: nowrap; /* Предотвращает перенос строки */
}

.footer_telega {
    width: auto;
    height: auto;
    margin-right: 20px; /* Отступ между изображением и текстом */
}

.tetx_footer, .name_footer {
    color: #FFFFFF;
    font-family: "Manrope", sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin: 0 20px;
}

.name_footer {
    font-family: "London";
    font-size: 18px;
}
.price_img{
    width: 100%;
}

.price_title{
    text-decoration: none;
    list-style: none;
    font-family: "Manrope", sans-serif;
    font-weight: bold;
    font-size: 14px;
    padding-left: 0;
    padding: 0 25px;
}
.price_text{
    font-family: "Manrope", sans-serif;
    font-weight: bold;
    font-size: 14px;
}
.price_list{
    margin-top: 35px;
    padding-left: 0;
    padding: 0 25px;
}
.price_text_2{
    margin-bottom: 0;
}
.orange{
    color: #FD7E08;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 12px;
}
.gallery{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.gal_item:first-child{
    margin-right:  5px;
}
.gal_item:last-child{
    margin-left: 5px;
}
.gal_img{
    width: 100%;
}
@keyframes marquee {
    0% {
        transform: translateX(200%);
    }
    100% {
        transform: translateX(-200%);
    }
}

@media screen and (max-width:490px) {
    

.wrapper_header{
    padding: 10px;
    margin: 10px;
}

.wrapper_header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* Цвет фона для наглядности */
}

.title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
}

.telega__wrapper {
    position: absolute;
    right: 0;
    margin-right: 20px; /* Отступ от правого края, если нужно */
}
.img_telega{
    width: 30px;
}
.line{
    height: 2px;
}
.anons{
    font-size: 30px;
    margin-bottom: 20px;
}
.anons_sub{
    font-size: 22px;
}
.button_join{
    margin-top: 20px;
    font-size: 18px;
    border: solid #FD7E08 2px ;
    padding: 6px 14px;
}

/* Родительский контейнер */
.augost_wrap {
    position: relative; /* Позволяет дочерним элементам использовать абсолютное позиционирование */
    display: flex; /* Используем Flexbox для центрирования текста по высоте */
    align-items: center; /* Центрирование по высоте контейнера */
padding: 20px 0px;
}

/* Позиционирование элемента "август" */
.title_augost {
    font-size: 80px;
    z-index: 999;
    position: absolute; /* Абсолютное позиционирование относительно родительского контейнера */
    left: 30px;
        top: 80%; /* Центрируем по высоте контейнера */
    transform: translateY(-50%) rotate(-90deg); /* Перемещение вверх на 50% высоты и поворот */
    transform-origin: left center; /* Устанавливаем точку вращения */
    white-space: nowrap; /* Запрещает перенос текста */
}

/* Стиль для текста */
.augost_text {
    margin-left: 100px; /* Отступ слева для размещения текста справа от "август" */
    font-size: 16px;
    background: transparent;
    max-width: 300px; /* Ограничиваем ширину текста */
    margin-right: 10PX;
}
.augost{
    padding: 0;
}
.four_wrap {
    position: relative; /* Позволяет дочерним элементам использовать абсолютное позиционирование */
    display: flex; /* Используем Flexbox для размещения элементов */
    align-items: center; /* Центрируем элементы по высоте контейнера */
    padding: 20px 0; /* Отступы сверху и снизу */
    width: 100%;
}

.text_four {
    margin-right: 120px; /* Отступ справа для размещения текста до элемента "цветы" */
    font-size: 16px;
    background: transparent;
    
    margin-left: 20px;
}

.flovers {
    font-size: 80px;
    position: absolute; /* Абсолютное позиционирование относительно родительского контейнера */
    right: -50px; /* Прижимаем к правому краю контейнера */
    top: 50%; /* Центрируем по высоте контейнера */
    transform: translateY(-50%) rotate(-90deg); /* Перемещение вверх на 50% высоты и поворот */
    transform-origin: center center; /* Устанавливаем точку вращения в центр элемента */
    white-space: nowrap; /* Запрещает перенос текста */
    margin: 0; /* Убираем стандартные отступы */
}


.third{
    padding-bottom: 20px;
}
.four{

padding-bottom: 20px;
}

.eat_wrap{
    position: relative; /* Позволяет дочерним элементам использовать абсолютное позиционирование */
    display: flex; /* Используем Flexbox для центрирования текста по высоте */
    align-items: center; /* Центрирование по высоте контейнера */
    padding: 20px 0px;
}
.title_eat{
    font-size: 80px;
    z-index: 999;
    position: absolute; /* Абсолютное позиционирование относительно родительского контейнера */
    left: 30px;
        top: 85%; /* Центрируем по высоте контейнера */
    transform: translateY(-30%) rotate(-90deg); /* Перемещение вверх на 50% высоты и поворот */
    transform-origin: left center; /* Устанавливаем точку вращения */
    white-space: nowrap; /* Убираем стандартные отступы */ /* Убираем стандартные отступы */
}
.text_eat{
    margin-left: 100px; /* Отступ слева для размещения текста справа от "август" */
    font-size: 16px;
    background: transparent;
    
    margin-right: 10PX;
    text-align: left;
}

.four{
    padding-bottom: 0;
}

.contact_title{
    font-size: 16px;
}
.contact{
    padding-top: 20px;
}
.gallery_wrap{
    padding-bottom: 20px;
}

@keyframes marquee {
    0% {
        transform: translateX(90%);
    }
    100% {
        transform: translateX(-90%);
    }
}

.text_container {
    display: flex;
    align-items: center;
    animation: marquee 13s linear infinite; /* Анимация бегущей строки */
    white-space: nowrap; /* Предотвращает перенос строки */
}

.footer_telega {
    width: auto;
    height: auto;
    margin-right: 10px; /* Отступ между изображением и текстом */
}

.tetx_footer, .name_footer {
    color: #E0EBDB;
    font-family: "Manrope", sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin: 0 10px;
}

.name_footer {
    font-family: "London";
    font-size: 18px;
}

.Footer_iframe{
    display: none;
}


.contact_title{
    margin: 0 auto;
    display: block;
    padding: 0 10px;
}
.gallery{
    width: 100%;
}

}

.cartoch{
    display: block;
    margin: 0  auto;
    width: 200px;
    margin-top: 40px;
}
.img_cartoch{
    width: auto;
}
.hn_title{
    margin: 0;
    margin-top: -50px;
    text-align: center;
        font-family: "Ole", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 300px;
    color: #E0EBDB;
      
}
.hn_sub_title{
    font-family: "Manrope", sans-serif;
    color: #E0EBDB;
    font-size: 20px;
    max-width: 734px;
    text-align: center;
    margin: 0 auto;
}

.hn_red{
    color:#862006;
}

.hn_button{
    display: block;
    color: #E0EBDB;
    border-radius: 50px;
    background: transparent;
    border: solid #E0EBDB 3px ;
    font-size: 20px;
    font-family: "Manrope", sans-serif;
    padding:5px 10px;
    margin: 50px auto 0 auto;
    transition: 0.5s;
}
.hn_button:hover{
    color:#C1FAA8;
    border: solid #C1FAA8 3px ;
    transition: 0.5s;
}
.hw_link{
    text-decoration: none;
}
.hn_about{
    margin-top: 100px;
    margin-bottom: 50px;
}
.distance{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.hn_wrap_about{
    max-width: 300px;
    
}
.text_1_hn{
    font-size: 20px;
    color: #E0EBDB;
    font-family: "Manrope", sans-serif;
}
.hn_title_about{
    font-size: 50px;
    color: #C1FAA8;
    font-family: "Manrope", sans-serif;
    text-align: center;
}
.hn_text_about{
    max-width: 570px;
}
.hn_prog_wrap{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.hn_prog_list{
    max-width: 558px;
    font-size: 20px;
    
}
.hn_prog_item{
    color: #E0EBDB;
    font-family: "Manrope", sans-serif;;
}
.hn_prog_title{
    font-size: 50px;
    color: #C1FAA8;
    font-family: "Manrope", sans-serif;
    text-align: center;
    margin-top: 0;
}
.hn_program{
    margin-bottom: 100px;
}
.contact_title{
    font-family: "Manrope", sans-serif;
    color: #C1FAA8;
    font-size: 20px;
    font-weight: bold;
    max-width: 450px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}
.hw_p{
    margin-top: 100px;
}
.lime{
    font-size: 20px;
    font-weight: 700;
    color: #C1FAA8;
    font-family: "Manrope", sans-serif;
    
}
.hw_p p{
    font-size: 20px;
    color: #E0EBDB;
    font-family: "Manrope", sans-serif;
}
.when{
    font-size: 20px;
    color: #E0EBDB;
    font-family: "Manrope", sans-serif;
}
.where{
    font-size: 20px;
    color: #E0EBDB;
    font-family: "Manrope", sans-serif;
}
.hw_Price_wrap{
    max-width: 554px;
    display: block;
    margin: 0 auto;
}
.cost{
    margin: 0;
}
.tarif{
    margin: 0;
}
.tarif_2_sub{
    margin: 0;
    padding-left: 20px;
}
.tarif_3_sub{
  margin: 0;
  padding-left: 20px;
}
.gallery_tele{
    display: none;
}
.grenLime{
    color: #C1FAA8;
}
.footer{
    margin-top: 50px;
}

@media screen and (max-width:490px) {
    .img_cartoch{
        width: 100%;
    }
    .cartoch{
        width: 100px;
    }
    .hn_title{
        font-size: 140px;
        line-height: 100px;
        margin: 0;
    }
    .hn_sub_title{
        font-size: 15px;
        max-width: 360px;
        font-weight: 300;
        margin-top: 20px;
        margin: 20px 20px 0 20px ;
    }
    .hn_red{
        font-weight: 800;
    }
    .hn_button{
        color: #C1FAA8;
       font-size: 16px;
        border:2px solid #C1FAA8;
        font-weight: 400;
        margin-top: 100px;
    }
    .gallery_tele{
        display: block;
        max-width: 175px;
        margin: 0 auto;
        margin-top: 50px;
    }
    .gal_item{
        
    }
    .distance{
        flex-direction: column;
        align-items: flex-start;
        margin: 0 30px;
    }
    .hn_title_about{
     text-align: left;
     font-size: 20px;
     margin-bottom: 0;
    }
    .br_t{
        display: none;
    }
    .text_1_hn{
        font-size: 16px;
        font-weight: 400;
    }
    .hn_about{
        margin-bottom: 30px;
    }
    .gal_del_t{
        display: none;
    }
    .gal_item{
        max-width: 175px;
        margin: 0;
    }
    .gallery{
        justify-content: space-around;
    }
    .gal_item:first-child{
        margin: 0;
    }
    .gal_item:last-child{
        margin: 0;
    }
    .hn_prog_wrap{
        flex-direction: column-reverse;
        align-items: flex-start;
        margin: 0 30px;
    }
    .hn_prog_title{
        font-size: 20px;
        text-align: left;
    }
    .hn_prog_item{
        font-size: 16px;
        padding: 0;
    }
    .hn_prog_list{
        padding-left: 20px;
        margin: 0;
    }
    .hn_about{
        margin-top: 30px;
    }
    .hn_program{
        margin-bottom: 30px;
    }
    .hw_p{
        margin-top: 30px;
    }
    .hw_Price_wrap{
        margin: 0 20px;
        
    }
    .hw_Price_wrap p {
        font-size: 16px;
    }
    .lime{
        font-size: 16px;
        font-weight: 600;
    }
    .where{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .contact{
        padding-top: 30px;
    }
    .contact_title{
        font-size: 16px;
        font-weight: 400px;
    }
    .first{
        margin-top: 85px;
    }

}